<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104101021882-o42qd4imrkpo34biuuc8esjtbeh7eqkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104101021882-o42qd4imrkpo34biuuc8esjtbeh7eqkg</string>
	<key>API_KEY</key>
	<string>AIzaSyDEXqS6fF-E6EEER30iQ7UVPGdFSoQCbeY</string>
	<key>GCM_SENDER_ID</key>
	<string>104101021882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBudget</string>
	<key>PROJECT_ID</key>
	<string>budget-app-f465f</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-f465f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104101021882:ios:0f33f5fd0e9fbc9c981a83</string>
</dict>
</plist>